.App {
  background-color: #45475a;
}
.heading{
  text-align: center;
  color: white;
}
.something{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.task-count{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name{
  background-color: #6273a4;
  width: 15vw;
  height: 5vh;
  margin: 5px;
}
.dle-btn{
  margin-left: 50px;

}
